@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  /* Primary Colors */
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  /* Neutral Colors */
  --VDB: hsl(234, 12%, 34%);
  --GB: hsl(229, 6%, 66%);
  --VLG: hsl(0, 0%, 98%);
}

body {
  /* border: 1px solid black; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

main {
  /* border: 1px solid red; */
  margin: 8vh 30px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 500px) {
  main {
    width: 100%;
  }
}
main header {
  /* border: 1px solid blue; */
  margin-bottom: 2vh;
  text-align: center;
}
@media screen and (min-width: 500px) {
  main header {
    width: 29em;
  }
}
main header h1 {
  margin-bottom: 3vh;
  line-height: 7vh;
  font-size: 6vw;
  font-weight: 300;
  color: var(--VDB);
}
main header h1 span {
  font-weight: 700;
}
main header p {
  font-size: 3.9vw;
  color: var(--GB);
}
@media screen and (min-width: 400px) {
  main header h1 {
    font-size: 1.7em;
  }
  main header p {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 1200px) {
  main header h1 {
    font-size: 1.9em;
  }
  main header p {
    font-size: 0.85em;
  }
}
main .content {
  /* border-top: 1px solid green; */
  margin: 8vh 0;
  display: grid;
}
@media screen and (min-width: 1020px) {
  main .content {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2vw;
  }
}
main .content section {
  /* border: 1px solid coral; */
  border-radius: 5px;
  line-height: 1.4em;
}
@media screen and (min-width: 400px) {
  main .content section {
    width: 18em;
  }
}
@media screen and (min-width: 1200px) {
  main .content section {
    width: 20em;
  }
}
main .content section div h2 {
  margin-bottom: 0.8em;
  font-size: 1em;
  font-weight: 700;
  color: var(--VDB);
}
main .content section div p {
  font-size: 0.75em;
  font-weight: 400;
  color: var(--GB);
}
@media screen and (min-width: 1200px) {
  main .content section div h2 {
    font-size: 1.3em;
  }
  main .content section div p {
    font-size: 0.85em;
  }
}
main .content section .img-box {
  /* border: 1px solid royalblue; */
  display: flex;
  justify-content: flex-end;
}
main .content section .img-box img {
  margin-top: 8vh;
  width: 45px;
}
@media screen and (min-width: 1200px) {
  main .content section .img-box img {
    width: 50px;
  }
}
main .content section .c1,
main .content section .c2,
main .content section .c3,
main .content section .c4 {
  border-radius: 5px;
  box-shadow: 0 10px 10px 2px #e3f5f5ad;
  padding: 1.5em;
  margin-bottom: 1.5em;
}
main .content section .c1 {
  /* border: 1px solid darkmagenta; */
  border-top: 5px solid var(--Cyan);
}
main .content section .c2 {
  /* border: 1px solid darkmagenta; */
  border-top: 5px solid var(--Red);
}
main .content section .c3 {
  /* border: 1px solid darkmagenta; */
  border-top: 5px solid var(--Orange);
}
main .content section .c4 {
  /* border: 1px solid darkmagenta; */
  border-top: 5px solid var(--Blue);
}
main .content section:nth-child(1),
main .content section:nth-child(3) {
  display: flex;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution .a-1,
.attribution .a-2 {
  font-weight: 700;
}
.attribution .a-1{
  color: var(--Cyan);
}
.attribution .a-2{
  color: var(--Orange);
}